.background {
    background-color: #EEEDDD;
    height: 250px;
    width: 100%;
}

.body-container {
    background-color: white;
}

div.container {
    position: relative;
}

.container > .input-group {
    border-radius: 6px;
    max-width: -webkit-fill-available;
    border: 1px solid #4f86c0;
    background-color: #4f86c0;
    margin-bottom: 20px;
}

div {
    padding: 10px;
    margin: 2px;
}

.title {
    font-family: 'Fredoka One', cursive;
    color: #4f86c0;
}

.list-tasks, .list-done-tasks {
    list-style-type: none;
    padding-left: 0;
    
}

.display-to-do-tasks {
    border: 1px solid #a5a5a5;
    background-color: #fbfbfb;
    border-radius: 6px;
}


.display-done-tasks {
    margin-top: 9px;
    border: 1px solid #a5a5a5;
    background-color: #fbfbfb;
    border-radius: 6px;
}


.new-item-div {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    margin: 0px;
    border: 1px solid #d9d9d9;
    border-left: 5px solid #d6424f;
    border-radius: 3px;
    background-color: white;
    padding: 12px;
    margin-bottom: 9px;
}

.list-done-tasks .new-item-div {
    border-left: 5px solid #4f997e;
}

.done-list-all-done-msg {
    background-color: #9bcab92c;
    border-color: #4f997e69;
    color: #4f997e;
}

.no-tasks-msg {
    background-color: #3f93c317;
    border-color: #2383bb71;
    color: #2383bb;
}

.done-list-no-tasks-msg {
    background-color: #eeeddd2b;
    border-color: #c7b9a8d3;
    color: #886438;
}

.edit-task-comp {
    margin: 2px;
    padding: 0px;
    height: 40px;
    max-width: 80%;
}

.task-text {
    margin-left: 6px;
    margin-right: 6px;
}


.title {
    font-weight: 400;
}

.subtitle h3 {
    font-family: 'Fredoka One', cursive;
    font-weight: 200;
    font-size: 18pt;
}

.input-group .btn {
    background-color: #edf5fa;
    border: 1px solid #4f86c0;
    color: #2383bb;
}

.input-group .btn:hover {
    background-color: #4f86c0;
    border: 1px solid #4f86c0;
    
    color: white;
}

.input-group input {
    border:1px solid #4f86c0;
}

.btn-edit {
    width: 40px;  
    min-width: 40px;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
    margin: 3px;
    margin-left: auto;
    border-radius: 50%;
    border: none;
    background-color: #3f93c317;
    color: #2383bb;
}

.btn-edit:hover {
    color: white;
    background-color: #2383bb;
}

.btn-done {
    width: 40px; 
    min-width: 40px; 
    height: 40px;
    align-items: center;
    justify-content: right;
    position: relative;
    top: -16px;
    right: -16px;
    color: #fff;
    background-color: #9BCAB9;
    border-color: #9BCAB9;
    margin: 3px;
    border-bottom-left-radius: 100%;
}

.btn-done:hover {
    border-color: #4f997e;
    background-color: #4f997e;
}

.btn-delete {
    width: 40px;  
    min-width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center; 
    font-weight: 600; 
    margin: 3px;
    border-radius: 50%;
    border: none;
    background-color: #e44e5a17;
    color: #d6424f;
}

.btn-delete:hover {
    background-color: #d6424f;
}

.display-to-do-tasks {
    min-height: 200px;
}


/* li {
    padding: 5px;
} */
